$light_yellow: #ffff00;
$mid_gray: #acb1b6;
$yellow: #ffdc08;
$green: #81c784;
$light_gray: #dfdfe1;
$total_gray: #484d52;
$almost_black: #161b20;
$red: #ef5350;
$almost_white: #fdfdff;

$accent-color: #355cc9;



